html {
    font-size: 1.5625vw;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    background: url("img.png") no-repeat;
    background-size: contain;
}

.root {
    margin: 0rem 6.25%;
}

.head__content {
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation__main {
    border-bottom: none;
    justify-content: start;
}

.navigation__additional {
    border-bottom: none;
    justify-content: start;
}

.navigation__label {
    font-weight: bold;
    line-height: 1.3rem;
    font-size: 0.69rem;
    color: #FFFFFF;
    margin-right: 2.6rem;
    cursor: pointer;
}

.small-picker {
    display: flex;
    align-items: center;

}

.navigation__small-picker {
    margin-right: 8px;
}

.small-picker__label {
    margin-right: 0px;
}

.navigation__text {
    margin-right: 4.8rem;
}


.head {
    display: flex;
    justify-content: space-between;
}

.head__title {
    font-style: italic;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.55rem;
    color: #FFFFFF;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.head__subtitle {
    max-width: 16.3rem;
    display: block;
}

.page-title {
    font-weight: 900;
    line-height: 5.63rem;
    font-size: 4rem;
    color: #FFFFFF;
    display: block;
    padding: 0;
    margin: 0;
}

.head__page-title {
    margin-top: 1.45rem;
    margin-bottom: 1.138rem;
}

.head__statistics {
    font-weight: normal;
    line-height: 1.4rem;
    font-size: 0.85rem;
    color: #FFFFFF;
    list-style: none;
    display: flex;
    flex-flow: column;
    padding: 0px;
    margin: 0rem;
    margin-left: 0.5rem;
}

.rent-datepicker__button:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.head-reviews {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    margin-top: 1.875rem;
    margin-right: 1rem;
    margin-bottom: 0.4rem;
}


.head__reviews-sublabel {
    margin-top: 0.58rem;
    display: block;
}

.head__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.head__help {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    height: 5.5rem;
}

.label-group {
    display: flex;
    align-items: center;
}

.head-reviews__label {
    /*margin-right: 0.4rem;*/
}

.head-reviews__label-icon {
    margin: 0 0.5rem;
    width: 1.125rem;
    height: 1rem;
}

.head__left {
    margin-bottom: 0.175rem;
}

.link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.label-icon {
    margin: 0 0.7rem;
    opacity: 0.7;
    width: 1.125rem;
    height: 1rem;
    cursor: pointer;
}

.icon {
    opacity: 0.7;
    width: 1.125rem;
    height: 1rem;
    cursor: pointer;
}

.label-icon_small {
    width: 0.625rem;
    height: 0.313rem;
}

.view-mode__icon {
    margin: 0 1.31rem;
}

.rent-buttons__sort-icon {
    margin: 0;
}

.sup-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 0.69rem;
    line-height: normal;
    color: #999EA7;
}

.text-faded {
    opacity: 0.7;
}

.rent-buttons__delimiter {
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    margin-right: 0.94rem;
    margin-left: 6.1rem;
}

.rent-buttons {
    display: flex;
    justify-content: space-between;
}

.rent-buttons__button-label {
    mix-blend-mode: normal;
    opacity: 0.8;
    cursor: pointer;
}

.rent-buttons__button-value {
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;
}

.rent-buttons__button {
    display: flex;
    flex-flow: column;
    background: none;
    border: none;
    font-family: inherit;
    justify-content: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.rent-buttons__rent-datepicker {
    background: linear-gradient(0deg, rgba(30, 42, 53, 0.1), rgba(30, 42, 53, 0.1)), #27C79A;
    border-radius: 2px;
    display: flex;
    height: 4.4rem;
    padding: 0rem 1.3rem;
    min-width: 35rem;
    justify-content: start;
    cursor: pointer;
}

.rent-buttons__filter {
    background: #27C79A;
    border-radius: 2px;
    display: flex;
    align-items: center;
    min-width: 16.55rem;
    height: 4.4rem;
    padding-left: 0.95rem;
    padding-right: 0.95rem;
    justify-content: space-between;
    margin-left: 0.3rem;
    cursor: pointer;
}

.body__head {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1.9rem;
    margin-bottom: 0.5rem;
}

.text_bold-large {
    color: #232A36;
    font-weight: 900;
    font-size: 2.63rem;
    line-height: 3.31rem;
    font-family: inherit;
}

.text_bold-small {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 0.69rem;
    line-height: 1.25rem;
    color: #FFFFFF;
}

.body__header-text {
    margin: 0;
    padding: 0;
}

.body__view-mode {
    display: flex;
    align-items: center;
}

.text_bold-medium {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2.123rem;
    color: #232A36;
}

.text_light-medium {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #FFFFFF;
}

.body__link {
    margin-right: 1rem;
}

.body__nav-cards {
    display: flex;
    margin: 1.7rem 0rem;
}

.body__card:not(:last-child) {
    margin-right: 0.31rem;
}

.card {
    background: url(Object.jpg) no-repeat center;
    background-size: cover;
    width: 13.8rem;
    height: 7.56rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
}

.card-label {
    color: #FFFFFF;
    margin-top: 1.125rem;
    margin-left: 1.688rem;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.88rem;
}

.card-description {
    color: #FFFFFF;
    margin-left: 1.688rem;
    margin-bottom: 0.863rem;
    line-height: 1.88rem;
    font-weight: 500;
    font-size: 0.815rem;
}

.product-grid {
    display: grid;
    grid-template-rows: 20.625rem 9rem 20.625rem;
    grid-template-columns: 13.75rem 13.75rem 13.75rem 13.75rem;
    column-gap: 0.44rem;
    row-gap: 1.25rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(30, 42, 53, 0.05);
    border-radius: 2px;
}

.adverting {
    border-radius: 3px;
    margin-top: 1.433rem;
    background: black;
    grid-column: 4 span;
}

.product-card__car-images {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-card__benefit-list {
    list-style: none;
    padding: 0rem;
    position: absolute;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
}

.product-card__car-image {
    max-width: 100%;
}

.product-card__benefit {
    border-radius: 2px;
    margin-bottom: 0.3125rem;
    padding: 0rem 0.213rem;
    width: fit-content;
}

.product-card__benefit_green {
    background: #27C79A;
}

.product-card__benefit_white {
    color: #1E2A35;
    background: #FFFFFF;
}

.product-card__benefit_red {
    background: #E86260;
}

.product-card__label {
    color: #1E2A35;
    line-height: 1.25rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.product-card__info {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.925rem;
}

.product-card__car-info {
    color: #1E2A35;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.463rem 0;
}

.product-card__price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.product-card__price {
    line-height: 2.5rem;
    color: #1E2A35;
    font-size: 1.5rem;
    font-weight: 900;
}

.product-card__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px;
}

.product-card__credit-info {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.button {
    background: #27C79A;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    border: 0px;
    padding: 0.333rem 3.925rem;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    line-height: 1.9rem;
    text-align: center;
    cursor: pointer;
}

.body__footer {
    width: 100%;
    text-align: center;
    padding: 3rem 0rem;
}

.footer {
    background: black;
    padding: 1.25rem 6.25%;
}